<div class="TodoListRx">
    <div class="TodoListRx__creation">
        <input id="add-todo-input" type="text" [(ngModel)]="newTodoBody"/>
        <button class="TodoListRx__createNewTodoButton"
                id="add-todo-button"
                (click)="addTodo(newTodoBody)">
            만들기
        </button>
    </div>

    <div role="listbox" class="TodoListRx__items">
        <app-todo-list-item
            role="listitem"
            *ngFor="let todo of todos | async"
            (toggle)="toggleTodo(todo)"
            (remove)="removeTodo(todo)"
            [todo]="todo"></app-todo-list-item>
    </div>
</div>
